<!-- <header class="p-3 bg-dark text-white mb-4">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/articles" class="nav-link px-2 text-white">Articles</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
    </div>
</header> -->


<!-- <script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script> -->

<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-slide-dropdown">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-slide-dropdown">
            <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<!-- 
<link rel="stylesheet" href="style.less">
<nav class="menu">
    <ol>
        <li class="menu-item"><a href="#0">Home</a></li>
        <li class="menu-item"><a href="#0">About</a></li>
        <li class="menu-item">
            <a href="#0">Widgets</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="#0">Big Widgets</a></li>
                <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
                <li class="menu-item"><a href="#0">Huge Widgets</a></li>
            </ol>
        </li>
        <li class="menu-item">
            <a href="#0">Kabobs</a>
            <ol class="sub-menu">
                <li class="menu-item"><a href="#0">Shishkabobs</a></li>
                <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
                <li class="menu-item"><a href="#0">Summer kabobs</a></li>
            </ol>
        </li>
        <li class="menu-item"><a href="#0">Contact</a></li>
    </ol>
</nav> -->



<style>
    body {
        background: #ccc;
        font-family: helvetica, arial, serif;
        font-size: 13px;
        text-transform: uppercase;
        text-align: center;
    }

    .wrap {
        display: inline-block;
        -webkit-box-shadow: 0 0 70px #fff;
        -moz-box-shadow: 0 0 70px #fff;
        box-shadow: 0 0 70px #fff;
        margin-top: 40px;
    }

    /* a little "umph" */
    .decor {
        background: #6EAF8D;
        background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
        background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
        background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
        background: linear-gradient(left, white 50%, #6EAF8D 50%);
        background-size: 50px 25%;
        ;
        padding: 2px;
        display: block;
    }

    a {
        text-decoration: none;
        color: #fff;
        display: block;
    }

    ul {
        list-style: none;
        position: relative;
        text-align: left;
    }

    li {
        float: left;
    }

    /* clear'n floats */
    ul:after {
        clear: both;
    }

    ul:before,
    ul:after {
        content: " ";
        display: table;
    }

    nav {
        position: relative;
        background: #2B2B2B;
        background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
        background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
        background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
        background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px #0E0E0E;
        -webkit-box-shadow: 2px 2px 3px #888;
        -moz-box-shadow: 2px 2px 3px #888;
        box-shadow: 2px 2px 3px #888;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    /* prime */
    ul.primary li a {
        display: block;
        padding: 20px 30px;
        border-right: 1px solid #3D3D3D;
    }

    ul.primary li:last-child a {
        border-right: none;
    }

    ul.primary li a:hover {

        color: #000;
    }

    /* subs */
    ul.sub {
        position: absolute;
        z-index: 200;
        box-shadow: 2px 2px 0 #BEBEBE;
        width: 35%;
        display: none;
    }

    ul.sub li {
        float: none;
        margin: 0;
    }

    ul.sub li a {
        border-bottom: 1px dotted #ccc;
        border-right: none;
        color: #000;
        padding: 15px 30px;
    }

    ul.sub li:last-child a {
        border-bottom: none;
    }

    ul.sub li a:hover {
        color: #000;
        background: #eeeeee;
    }

    /* sub display*/
    ul.primary li:hover ul {
        display: block;
        background: #fff;
    }

    /* keeps the tab background white */
    ul.primary li:hover a {
        background: #fff;
        color: #666;
        text-shadow: none;
    }

    ul.primary li:hover>a {
        color: #000;
    }

    @media only screen and (max-width: 600px) {
        .decor {
            padding: 3px;
        }

        .wrap {
            width: 100%;
            margin-top: 0px;
        }

        li {
            float: none;
        }

        ul.primary li:hover a {
            background: none;
            color: #8B8B8B;
            text-shadow: 1px 1px #000;
        }

        ul.primary li:hover ul {
            display: block;
            background: #272727;
            color: #fff;
        }

        ul.sub {
            display: block;
            position: static;
            box-shadow: none;
            width: 100%;
        }

        ul.sub li a {
            background: #272727;
            border: none;
            color: #8B8B8B;
        }

        ul.sub li a:hover {
            color: #ccc;
            background: none;
        }
    }
</style>

<div class="wrap">
    <span class="decor"></span>
    <nav>
        <ul class="primary">
            <li>
                <a href="">PDF</a>
                <ul class="sub">
                    <li><a href="../pages/pdf/edit">Edit PDF</a></li>
                    <li><a href="../pages/pdf/to-word">PDF to Word</a></li>
                    <li><a href="../pages/pdf/from-word">Word to PDF</a></li>
                    <li><a href="../pages/pdf/from-jpg">JPG to PDF</a></li>
                    <li><a href="../pages/pdf/to-jpg">PDF to JPG</a></li>
                    <li><a href="../pages/pdf/merge">Merge PDF</a></li>
                    <li><a href="../pages/pdf/compress">Compress PDF</a></li>
                    <li><a href="../pages/pdf/split">Split PDF</a></li>
                    <li><a href="../pages/pdf/unlock">Unlock PDF</a></li>
                    <li><a href="../pages/pdf/to-xlsx">PDF to Excel</a></li>
                    <li><a href="../pages/pdf/to-ppt">PDF to Powerpoint</a></li>
                    <li><a href="../pages/pdf/from-png">PNG to PDF</a></li>
                    <li><a href="../pages/pdf/from-ppt">Powerpoint to PDF</a></li>
                    <li><a href="../pages/pdf/extract-img">Extract images PDF</a></li>
                    <li><a href="../pages/pdf/from-url">URL to PDF</a></li>
                    <li><a href="../pages/pdf/delete">PDF Page Deleter</a></li>
                    <li><a href="../pages/pdf/from-epub">EPUB to PDF</a></li>
                    <li><a href="../pages/pdf/rotate">Rotate PDF</a></li>
                    <li><a href="../pages/pdf/create">Create PDF</a></li>
                    <li><a href="../pages/pdf/to-png">PDF to PNG</a></li>
                    <li><a href="../pages/pdf/sign">eSign PDF</a></li>
                    <li><a href="../pages/pdf/protect">Protect PDF</a></li>
                    <li><a href="../pages/pdf/rearrange">Rearrange PDF</a></li>
                    <li><a href="../pages/pdf/crop">Crop PDF</a></li>
                    <li><a href="../pages/pdf/to-epub">PDF to EPUB</a></li>
                    <li><a href="../pages/pdf/to-csv">PDF to CSV</a></li>
                    <li><a href="../pages/pdf/add-pages">Add Numbers to PDF</a></li>
                    <li><a href="../pages/pdf/annotate">Annotate PDF</a></li>
                    <li><a href="../pages/pdf/to-mobi">PDF to MOBI</a></li>
                    <li><a href="../pages/pdf/to-text">PDF to Text</a></li>
                    <li><a href="../pages/pdf/from-heic">HEIC to PDF</a></li>
                    <li><a href="../pages/pdf/add-images">IMAGES to PDF</a></li>
                    <li><a href="../pages/pdf/extract-text">Extract text from PDF
                        </a></li>
                    <li><a href="../pages/pdf/to-tiff">PDF to TIFF
                        </a></li>
                    <li><a href="../pages/pdf/from-mobi">MOBI to PDF
                        </a></li>
                    <li><a href="../pages/pdf/from-tiff">TIFF to PDF
                        </a></li>
                    <li><a href="../pages/pdf/watermark">Add Watermark
                        </a></li>
                    <li><a href="../pages/pdf/from-gif">GIF to PDF
                        </a></li>
                    <li><a href="../pages/pdf/to-azw3">PDF to AZW3
                        </a></li>
                    <li><a href="../pages/pdf/from-azw3">AZW3 to PDF
                        </a></li>
                    <li><a href="../pages/pdf/from-webp">WEBP to PDF
                        </a></li>
                    <li><a href="../pages/pdf/from-eps">EPS to PDF
                        </a></li>
                </ul>
            </li>
            <li>
                <a href="">Image</a>
                <ul class="sub">
                    <li><a href="">Tabby</a></li>
                    <li><a href="">Black Cat</a></li>
                    <li><a href="">Wrinkly Cat</a></li>
                </ul>
            </li>
            <li>
                <a href="">Write</a>
                <ul class="sub">
                    <li><a href="">Humming Bird</a></li>
                    <li><a href="">Hawk</a></li>
                    <li><a href="">Crow</a></li>
                </ul>
            </li>
            <li>
                <a href="">Video</a>
                <ul class="sub">
                    <li><a href="">Brown Horse</a></li>
                    <li><a href="">Race Horse</a></li>
                    <li><a href="">Tall Horse</a></li>
                </ul>
            </li>
            <li>
                <a href="">File</a>
                <ul class="sub">
                    <li><a href="">Cheesy</a></li>
                    <li><a href="">More Ketchup</a></li>
                    <li><a href="">Some Mustard</a></li>
                    <li><a href="">Extra Butter</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>